name: Build & Lint Gradle Project
on: push
jobs:
  Build:
    runs-on: ubuntu-latest
    container: gradle:6-jdk11
    steps:
      - name: Clone down repository
        uses: actions/checkout@v4
      - name: Build application
        run: ci/build-app.sh
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with: # Parameters for the action
          name: code
          path: .
          include-hidden-files: true

  Lint:
    runs-on: ubuntu-latest
    needs: [Build]
    container: gradle:6-jdk11
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: code
          path: .
      - name: run linting
        uses: super-linter/super-linter/slim@v7
        env:
          DEFAULT_BRANCH: main
          # To report GitHub Actions status checks
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
